/* src/components/layout/Sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: var(--surface-dark);
    color: var(--text-dark);
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a {
    color: var(--text-dark);
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    color: var(--primary-dark);
  }